.ui2-tips-success, .ui2-tips-error, .ui2-tips-loading, .ui2-tips-warn{
	height: 70px;
    line-height: 70px;
    padding: 0px 20px 0px 60px;
    font-weight: bold;
    background-image: url('./images/success.png');
    background-position: 15px center;
    background-repeat: no-repeat;
    text-align: center;
}

.ui2-tips-loading{
    background-image: url('./images/loading.gif');
}

.ui2-tips-error{
    background-image: url('./images/error.png');
}

.ui2-tips-warn{
	background-image: url('./images/warn.png');
}

.ui2-tips .ui2-dialog-content{
	display: inline-block;
}

.ui2-tips .ui2-dialog-content{
	font-size: 16px;
}