.ui2-dialog-container{
    -moz-user-select: none;
    position: fixed;
    _position: absolute;
    left: 0px;
    top: 0px;
    background: #fff;
    z-index: 10000;
    box-shadow: 0px 0px 5px 1px #000;
    padding: 0px;
    display: inline-block;
    display: none;
    font-family: Helvetica Neue, Hiragino Sans GB, Microsoft Yahei, Simhei, sans-serif;
}

:root .ui2-dialog-container{
    border: 0px;
}

.ui2-dialog-container a:hover{
    text-decoration: none;
}

.ui2-dialog-header{
    display: block;
    font-weight: bold;
    height: 40px;
    padding-left: 10px;
    line-height: 40px;
    border-bottom: 2px solid #ccc;
    background: #eee;
    color: #333;
    font-size: 14px;
}

.ui2-dialog-header-nob{
    background: #fff;
    border: 0px;
}

.ui2-dialog-close{
    text-decoration: none;
    float: right;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    font-size: 24px;
    color: #999;
    font-family: verdana;
}

.ui2-dialog-close:hover{
    color: #666;
}

.ui2-dialog-content{
    padding: 10px;
    overflow: auto;
    max-height: 520px;
    min-width: 50px;
}

.ui2-dialog-buttons{
    text-align: center;
    border: 0px;
    padding-bottom: 15px;
}

.ui2-dialog-button{
    cursor: pointer;
    border: 0px;
    margin: 10px 19px;
    padding: 0px 10px;
    border-radius: 2px;
    background: #ff6900;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 100px;
    text-decoration: none;
}

.ui2-dialog-button:hover{
    color: #fff;
    background: #ef5921;
}