.ui2-formvalid-field{
	background-image: url(./img/icon_tip.png);
	background-repeat: no-repeat;
	display: inline-block;
	line-height: 20px;
	height: 20px;
	padding-left: 23px;
}

.ui2-formvalid-field-error{
	background-position: 0px -6px;
	color:#EA3200;
}

.ui2-formvalid-field-success{
	background-position: 0px -37px;
}

.ui2-formvalid-field-default{
	background-image: none;
	padding-left: 0px;
}